<!DOCTYPE html>
<html lang="en">
<head> 
	<title>San Francisco</title>
	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- jQuery -->
  	<script src="/static/jquery/dist/jquery.min.js"></script>
	<!-- Underscore -->
	<script src="/static/underscore/underscore-min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<h1> San Francisco </h1>
</body>
</html>