<!DOCTYPE html>
<html>
<head>
	<title>Signup Page</title>
	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<h1>Sign Up Here!</h1>
	<!-- <h4>Password must have min of 6 characters</h4> -->
	<form method="post" action="/signup">
		<div>
			<input type="text" name="user[email]" placeholder="Email">
		</div>
		<div>
			<input type="password" name="user[password]" placeholder="Password">
		</div>
		<div>
			<input type="text" name="user[firstName]" placeholder="First Name">
		</div>
		<div>
			<input type="text" name="user[lastName]" placeholder="Last Name">
		</div>
		<button>Sign Up</button>
	</form>
</body>
</html>