<!DOCTYPE html>
<html>
<head>
  <title>Submit Page</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="/static/jquery/dist/jquery.min.js"></script>
  <!-- Underscore -->
  <script src="/static/underscore/underscore-min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.css">
  <script src"/vendor/js/app.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Submit <span class="sr-only">(current)</span></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href=""></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> <br><br><br>
  <h1 class="text-center">Submit a Place</h1><br>
  <form class="text-center" method="post" action="/submit">
    <div>
      <input type="text" name="place[name]" placeholder="Name">
    </div><br>
    <div>
      <textarea type="text" name="place[description]" placeholder="Description"></textarea>
    </div><br>
    <button>Submit</button>
  </form>
    <script type="text/template" id="places-template">
    <li class='list-group-item'><%= place[name] %>
      <!-- Places label -->
      <span class="label label-default"><%= place[description]%></span>
      <!-- button w/ registered onclick function -->
      // <button data-_id="<%= _id %>" onclick="deleteFood(this)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </li>
  </script>
</body>
</html>